﻿@{
    ViewBag.Title = "Index";
}
    <h2>Task implemented via jQuery Datatable</h2>
    <hr />
    <div style="width:100%; margin:0 auto;">
        <table id="dataTable">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Project</th>
                </tr>
            </thead>
        </table>
        <br />
        <button id="reloadButton" style="width:100%; height: 50px; display:block; background-color: PaleTurquoise;">Refresh</button>
    </div>
    <style>
        tr.even {
            background-color: #F5F5F5 !important;
        }
    </style>
    @* Load datatable css *@
    <link href="//cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet" />
    @* Load datatable js *@
    @section Scripts{
        <script src="//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTable').DataTable({
                    "ajax": {
                        "url": "/home/LoadDataTable",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "Id", "width": "25%" },
                        { "data": "Date", "width": "25%" },
                        { "data": "FullName", "width": "25%" },
                        { "data": "Department", "width": "25%" }
                    ]
                });
            });

            $(document).ready(function () {
                $("#reloadButton").click(function () {
                    $("#dataTable").DataTable().ajax.reload();;
                });
            });
        </script>
        }